@using AtlasConfigurator.Interface
@using AtlasConfigurator.Models
@using AtlasConfigurator.Models.BusinessCentral
@using AtlasConfigurator.Models.Transformed
@using AtlasConfigurator.Services
@using System.Globalization
@using AtlasConfigurator.Workers
@inject IMaterialService MaterialService
@inject IJSRuntime JSRuntime
@inject BCItemTransformation bCItemTransformation

<div class="w-1/2 pl-2">
    <div class="mb-4 border p-2 dark:border-gray-600">
        <div class="flex items-center justify-between bg-blue-600 px-4 py-2 text-white">
            <div>OVERRIDE</div>
            <div>
                <button onclick="@ResetOptions" class="mr-2 rounded bg-blue-700 px-4 py-1 font-bold text-white hover:bg-blue-800">RESET OPTIONS</button>
            </div>
        </div>
        <div class="mb-2 mt-8 flex items-center gap-4">
            <div class="flex items-center">
                <input type="checkbox" id="customerMaterial" class="rounded border-gray-300 text-indigo-600 focus:ring-indigo-500" checked="@CustomMaterialOnly" @onchange="HandleCustomMaterialCheckboxChange">
                <label for="customerMaterial" class="ml-1 text-xs dark:text-white">Custom Material</label>
            </div>
        </div>

        <!-- Assuming you're using this input for something, bind it if needed -->
        <input class="my-2 w-full border p-2 dark:bg-gray-700 dark:text-white dark:border-gray-600" @onblur="HandleOverrideChange" placeholder="Input SKU:" @bind="sheetQuote.OverrideSku">


        <div class="mb-2 grid grid-cols-3 gap-2">
            <!-- Grade Dropdown -->
            <select class="border p-2 dark:bg-gray-700 dark:text-white dark:border-gray-600"
            value="@selectedGrade" @onchange="HandleGradeChange" disabled="@GradeDisabled">
                <option value="">Grade</option>
                @foreach (var grade in grades)
                {
                    <option value="@grade">@grade</option>
                }
            </select>

            <!-- Thickness Dropdown -->
            <select class="border p-2 dark:bg-gray-700 dark:text-white dark:border-gray-600"
            value="@selectedThickness" @onchange="HandleThicknessChange" disabled="@ThicknessDisabled">
                <option value="0.000">Thickness</option>
                @if (thicknesses != null)
                {
                    @foreach (var thickness in thicknesses)
                    {
                        <option value="@thickness">@thickness</option>
                    }
                }

            </select>
            <!-- Size Dropdown -->
            <select class="border p-2 dark:bg-gray-700 dark:text-white dark:border-gray-600"
            value="@sheetQuote.Size" @onchange="HandleSizeChange" disabled="@SizeDisabled">
                <option value="0">Size</option>
                @foreach (var size in sizes)
                {
                    <option value="@size">@size</option>
                }
            </select>
            <!-- Color Dropdown -->
            <select class="border p-2 dark:bg-gray-700 dark:text-white dark:border-gray-600"
            value="@sheetQuote.Color" @onchange="HandleColorChange" disabled="@ColorDisabled">
                <option value="">Select Color</option>
                @foreach (var color in colors)
                {
                    <option value="@color">@color</option>
                }
            </select>
        </div>

        <div class="flex items-center">



            @if (CustomMaterialOnly)
            {
                <div class="mb-2 grid grid-cols-3 gap-2">
                    <div>
                        <label for="customGrade" class="mb-1 block text-xs dark:text-white">Grade</label>
                        <input id="customGrade" class="w-full border p-2 dark:bg-gray-700 dark:text-white dark:border-gray-600" @bind="selectedGrade">
                    </div>
                    <div>
                        <label for="customColor" class="mb-1 block text-xs dark:text-white">Color</label>
                        <input id="customColor" class="w-full border p-2 dark:bg-gray-700 dark:text-white dark:border-gray-600" @bind="selectedColor">
                    </div>
                    <br />
                    <div>
                        <label for="sheetLength" class="mb-1 block text-xs dark:text-white">Sheet Length</label>
                        <input id="sheetLength" type="number" min="0" class="w-full border p-2 dark:bg-gray-700 dark:text-white dark:border-gray-600" @bind="SheetLength">
                    </div>
                    <div>
                        <label for="sheetWidth" class="mb-1 block text-xs dark:text-white">Sheet Width</label>
                        <input id="sheetWidth" type="number" min="0" class="w-full border p-2 dark:bg-gray-700 dark:text-white dark:border-gray-600" @bind="SheetWidth">
                    </div>
                    <div>
                        <label for="sheetWidth" class="mb-1 block text-xs dark:text-white">Sheet Thickness</label>
                        <input id="sheetThickness" type="number" min="0" class="w-full border p-2 dark:bg-gray-700 dark:text-white dark:border-gray-600" @bind="selectedThickness">
                    </div>


                    <div>
                        <label for="custPrice" class="mb-1 block text-xs dark:text-white">Price Per</label>
                        <input id="custPrice" type="number" min="0" class="w-full border p-2 dark:bg-gray-700 dark:text-white dark:border-gray-600" @bind="CustomerPrice">
                    </div>




                    <div>
                        <label for="custMinSheet" class="mb-1 block text-xs dark:text-white">Min Custom Sheets</label>
                        <input id="custMinSheet" type="number" min="0" class="w-full border p-2 dark:bg-gray-700 dark:text-white dark:border-gray-600" @bind="CustomMinSheetMaterial">
                    </div>


                </div>
            }


        </div>

        <!-- Assuming you're using this input for something, bind it if needed -->
        <input class="my-2 w-full border p-2 dark:bg-gray-700 dark:text-white dark:border-gray-600" placeholder="Quantity:" @bind="sheetQuote.Quantity">

        <textarea class="my-2 w-full border p-2 dark:bg-gray-700 dark:text-white dark:border-gray-600" placeholder="Extra Comments:" @bind="sheetQuote.Comments"></textarea>
        @if (isLoading)
        {
            <button disabled class="flex w-full items-center justify-center bg-blue-600 px-4 py-2 text-white dark:bg-blue-800">
                <svg aria-hidden="true" role="status" class="mr-2 inline h-4 w-4 animate-spin text-white" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB" />
                    <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor" />
                </svg>
                Loading...
            </button>
        }
        else
        {
            <button @onclick="AddToQuote" class="w-full bg-blue-600 px-4 py-2 text-white dark:bg-blue-800">
                Add to Quote
            </button>
        }



    </div>
</div>

@code {
    public SheetQuote sheetQuote = new SheetQuote();
    private List<string> grades = new List<string>();
    private List<string> thicknesses = new List<string>();
    private List<string> colors = new List<string>();
    private List<string> sizes = new List<string>();
    public List<QuantityPricing> quantityPricing = new List<QuantityPricing>();


    [Parameter]
    public List<ItemAttributes> BCItemAttributes { get; set; }

    [Parameter]
    public string Customer { get; set; }

    private string selectedGrade = "";
    private string selectedThickness = "";
    private string selectedColor = "";
    private string selectedSize = "";

    private bool CustomMaterialOnly = false;
    private decimal SheetLength;
    private decimal SheetWidth;
    private decimal CustomerPrice;
    private int CustomMinSheetMaterial;

    private bool ColorDisabled = false;
    private bool SizeDisabled = false;
    private bool GradeDisabled = false;
    private bool ThicknessDisabled = false;

    [Parameter]
    public EventCallback<SheetQuote> SheetOnAdd { get; set; }

    private bool isLoading = false;


    protected override async Task OnInitializedAsync()
    {
        // grades = await MaterialService.GetGradesAsync();
        grades = BCItemAttributes
            .Where(attr => attr.NEMAGrade != null)
            .Select(attr => attr.NEMAGrade)
            .Distinct()
            .ToList();
        grades.RemoveAll(x => x.EndsWith("D"));
        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {

        }
    }

    public async Task<bool> ErrorHandling()
    {
        var validationMessages = new List<string>();

        if (string.IsNullOrEmpty(selectedGrade))
        {
            validationMessages.Add("- Grade");
        }
        if (string.IsNullOrEmpty(selectedThickness))
        {
            validationMessages.Add("- Thickness");
        }
        if (string.IsNullOrEmpty(selectedColor))
        {
            validationMessages.Add("- Color");
        }
        if (string.IsNullOrEmpty(selectedSize))
        {
            validationMessages.Add("- Size");
        }
        if (string.IsNullOrEmpty(Customer))
        {
            validationMessages.Add("- Customer");
        }
        if (string.IsNullOrEmpty(sheetQuote.Quantity))
        {
            validationMessages.Add("- Quantity");
        }
        else
        {
            var quantities = sheetQuote.Quantity.Split(new[] { ',' }, StringSplitOptions.RemoveEmptyEntries);
            foreach (var q in quantities)
            {
                if (!int.TryParse(q, out int qty))
                {
                    validationMessages.Add($"- Quantity '{q}' must be a number");

                    break;

                }
            }
        }

        // Check if there are any missing fields
        if (validationMessages.Any())
        {
            // Construct the alert message
            string alertMessage = "Please complete the following fields before proceeding:\n" + string.Join("\n", validationMessages);
            // Display the alert to the user
            await JSRuntime.InvokeVoidAsync("alert", alertMessage);
            // Exit the method to prevent further execution
            return true;
        }
        return false;
    }


    private async Task HandleGradeChange(ChangeEventArgs e)
    {
        selectedGrade = e.Value.ToString();
        //thicknesses = await MaterialService.GetThicknessesByGradeAsync(selectedGrade);
        thicknesses = BCItemAttributes
            .Where(attr => attr.NEMAGrade == selectedGrade && attr.Thicknesses != null)
            .Select(attr => attr.Thicknesses)
            .Distinct()
       .OrderBy(thickness => decimal.Parse(thickness, CultureInfo.InvariantCulture))
            .ToList();
        selectedThickness = ""; // Reset thickness selection
        colors.Clear(); // Reset colors as well
    }

    private async Task HandleOverrideChange(FocusEventArgs e)
    {
        var sku = sheetQuote.OverrideSku;
        var result = BCItemAttributes.Where(x => x.ItemNumber == sku).ToList();
        if (result.Count > 0)
        {
            selectedGrade = result.Select(x => x.NEMAGrade).FirstOrDefault();
            selectedThickness = result.Select(x => x.Thicknesses).FirstOrDefault().ToString();


            thicknesses.Clear();
            thicknesses = result.Select(x => x.Thicknesses).ToList(); //await MaterialService.GetThicknessesByGradeAsync(selectedGrade);
            sizes.Clear();
            sizes = result
    .Select(x => $"{x.LengthIn}x{x.WidthIn}") // Format each element as "LxW"
    .Distinct() // Ensure each "LxW" format is unique
    .ToList(); // Convert to List<string>

            selectedSize = sizes.FirstOrDefault();
            colors.Clear();
            colors = result.Select(x => x.Color).Distinct().ToList();
            selectedColor = colors.FirstOrDefault();

            sheetQuote.Grade = selectedGrade;
            sheetQuote.Thickness = decimal.Parse(selectedThickness, CultureInfo.InvariantCulture);
            sheetQuote.Color = selectedColor;
            sheetQuote.Size = selectedSize;
        }
    }
    private async Task HandleThicknessChange(ChangeEventArgs e)
    {
        selectedThickness = e.Value?.ToString();
        // Filter items based on the selected grade and thickness.
        var filteredItems = BCItemAttributes
            .Where(attr => attr.NEMAGrade == selectedGrade && attr.Thicknesses == selectedThickness)
            .ToList();

        // Construct the size string from WidthIn and LengthIn, and collect distinct values.
        sizes = filteredItems
          .Where(item => Convert.ToInt32(item.WidthIn) > 0 && Convert.ToInt32(item.LengthIn) > 0)
         .Select(item => $"{item.LengthIn}x{item.WidthIn}") // Create the "Width x Length" string
           .Distinct() // Remove duplicates
           .OrderBy(size => size) // Optionally order the sizes
           .ToList();

    }

    private async Task HandleSizeChange(ChangeEventArgs e)
    {
        LengthWidth lw = new LengthWidth();
        selectedSize = e.Value?.ToString();
        int convertedSize = 0;
        bool convertedSizeIsZero = false;
        if (int.TryParse(selectedSize, out convertedSize))
        {
            convertedSizeIsZero = true;
        }
        if (!convertedSizeIsZero)
        {
            var stocksize = lw.GetLengthWidthFromCombinedSize(selectedSize);
            colors = BCItemAttributes
                .Where(attr => attr.NEMAGrade == selectedGrade && attr.Thicknesses == selectedThickness && Convert.ToInt32(attr.LengthIn) == stocksize.Length && Convert.ToInt32(attr.WidthIn) == stocksize.Width)
                .Select(attr => attr.Color)
                .Distinct()
                .ToList();
        }


        //colors = await MaterialService.GetColorsByGradeAndThicknessAndSizeAsync(selectedGrade, selectedThickness, selectedSize);
    }

    private async Task HandleColorChange(ChangeEventArgs e)
    {
        selectedColor = e.Value?.ToString();
        // Perform further actions if needed, like updating another part of the model or UI.
    }
    private void HandleCustomMaterialCheckboxChange(ChangeEventArgs e)
    {

        CustomMaterialOnly = (bool)e.Value;
        if (CustomMaterialOnly == true)
        {
            sheetQuote.CustomMaterialOnly = true;
            ColorDisabled = true;
            SizeDisabled = true;
            GradeDisabled = true;
            ThicknessDisabled = true;
        }
        else
        {
            sheetQuote.CustomMaterialOnly = false;
            ColorDisabled = false;
            SizeDisabled = false;
            GradeDisabled = false;
            ThicknessDisabled = false;
        }

    }
    private async Task CalculateCustomMaterialOnly()
    {
        sheetQuote.CustomMaterialOnly = true;
        selectedSize = $"{SheetLength}X{SheetWidth}";
        string i = string.Format("{0}-{1}-{2}", selectedGrade, selectedThickness, selectedColor);

        sheetQuote.Grade = selectedGrade;
        sheetQuote.Thickness = decimal.Parse(selectedThickness, CultureInfo.InvariantCulture);
        sheetQuote.Color = selectedColor;
        sheetQuote.Size = selectedSize;
        LengthWidth lw = new LengthWidth();
        var sizes = lw.GetLengthWidthFromCombinedSize(selectedSize);
        sheetQuote.ItemNo = i;
        sheetQuote.LengthIn = Convert.ToInt32(SheetLength);
        sheetQuote.WidthIn = Convert.ToInt32(SheetWidth);
        sheetQuote.Customer = Customer;

        var errors = await ErrorHandling();
        if (errors)
        {
            isLoading = false;
            return;
        }

        quantityPricing = await bCItemTransformation.CalculatePricingForCustomSheetsOnly(sheetQuote.Quantity, i, CustomerPrice, CustomMinSheetMaterial);

        sheetQuote.Pricing = quantityPricing;

        var result = sheetQuote;
        ResetOptions();
        isLoading = false;
        await SheetOnAdd.InvokeAsync(result);
    }
    private async Task AddToQuote()
    {
        isLoading = true;
        try
        {
            if(CustomMaterialOnly)
            {
                await CalculateCustomMaterialOnly();
                return;
            }


            var errors = await ErrorHandling();
            if (errors)
            {
                isLoading = false;
                return;
            }
            // Add your logic here to populate sheetQuote as needed
            sheetQuote.Grade = selectedGrade;
            sheetQuote.Thickness = decimal.Parse(selectedThickness, CultureInfo.InvariantCulture);

            sheetQuote.Color = selectedColor;
            sheetQuote.Size = selectedSize;
            LengthWidth lw = new LengthWidth();
            var sizes = lw.GetLengthWidthFromCombinedSize(selectedSize);
            ItemAttributes selectedItem = null;
            if(!string.IsNullOrEmpty(sheetQuote.OverrideSku))            
            {
                selectedItem = BCItemAttributes.Where(x => x.ItemNumber == sheetQuote.OverrideSku).FirstOrDefault();
            }
            if (selectedItem == null)
            {
                selectedItem = BCItemAttributes
                    .Where(attr => attr.NEMAGrade == selectedGrade
                                   && attr.Thicknesses == selectedThickness
                                   && Convert.ToInt32(attr.LengthIn) == sizes.Length
                                   && Convert.ToInt32(attr.WidthIn) == sizes.Width
                                   && attr.Color == selectedColor
                                   && !attr.ItemNumber.EndsWith("D"))
                    .FirstOrDefault();
            }

            quantityPricing = await bCItemTransformation.CalculatePricingForQuantities(sheetQuote.Quantity, selectedItem.ItemNumber, Customer);
            //get pricing
            sheetQuote.ItemNo = selectedItem.ItemNumber;
            sheetQuote.LengthIn = sizes.Length;
            sheetQuote.WidthIn = sizes.Width;
            sheetQuote.Customer = Customer;
            sheetQuote.Pricing = quantityPricing;

            var result = sheetQuote;
            ResetOptions();
            isLoading = false;
            await SheetOnAdd.InvokeAsync(result);
        }
        catch (Exception ex)
        {
            isLoading = false;
            await JSRuntime.InvokeVoidAsync("alert", ex.Message);
        }

        // Optionally reset sheetQuote or update UI as needed after adding
    }
    private void ResetOptions()
    {
        selectedGrade = "";
        selectedThickness = "";
        selectedColor = "";
        selectedSize = "";
        thicknesses = new List<string>();
        colors = new List<string>();
        sizes = new List<string>();
        grades = new List<string>();
        sheetQuote = new SheetQuote();
        grades = BCItemAttributes
            .Where(attr => attr.NEMAGrade != null)
            .Select(attr => attr.NEMAGrade)
            .Distinct()
            .ToList();
        grades.RemoveAll(x => x.EndsWith("D"));
        isLoading = false;
        sheetQuote.OverrideSku = string.Empty;
        CustomMaterialOnly = false;

        SheetLength = 0;
        SheetWidth = 0;
        CustomerPrice = 0;
        CustomMinSheetMaterial = 0;

    ColorDisabled = false;
    SizeDisabled = false;
    GradeDisabled = false;
    ThicknessDisabled = false;
    }

}
